body {background-color: #F8C471;font-family: Tahoma}
.titulo {background-color: tomato; color: #943126; text-align: center; text-decoration: underline;}
h2 {background-color:tomato; text-align: center; text-decoration: underline;}
p {font-size: medium;}
.imagen {text-align: center; margin: 50px;}
.video {text-align: center;}
.mapa {text-align: center;}
