body {background-color: #F8C471;font-family: Tahoma; background-image: url(../imagenes/fondo_bco.jpg); background-repeat: no-repeat;
background-size: cover; background-attachment: fixed;}

.logo {width: 100px;}
.bandera {width: 150px;}

header {display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        background-color: #F5B7B1;
        border: 6px double black;
}

.titulo {
  color: #943126;
  text-align: center;
  text-decoration: underline;
  font-family: 'Bangers', cursive;
  font-family: 'Lobster Two', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Sriracha', cursive;
}


nav {display: flex;
    justify-content: space-around;
    background-color:#F4D03F;
    border: 1px solid red;
    padding: 10px;}



.objeto1 {display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;}
  .imagen img {width: 450px;}
  .parraf {width: 700px; border: 1px solid red; margin-left: 50px;}

.objeto2 {display: flex; flex-wrap: wrap; background-color:#F6DDCC; margin: 10px; justify-content: space-around;}
  .ingredientes{width: 500px; border: 1px solid black; padding: 20px; align-items: center;}
  .pasos {width: 500px; border: 1px solid black; padding: 20px; align-items: center;}

h2 {background-color:tomato; text-align: center; text-decoration: underline;}
p {font-size: medium; text-align: center;}
h3 {color: #DC7633; font-style: italic;}
a {color: #B03A2E;}
a:hover {font-weight: bold;}

aside {display: flex; flex-wrap: wrap; justify-content: space-around; background-color:#F6DDCC; justify-content: center;}
  .video {width: 600px; border: 1px solid black; text-align: center;}
  .mapa {width: 600px; border: 1px solid black; text-align: center; font-weight: bold;}


/* .masrecetas {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; border: 2px solid black; padding: 30px;} */

.iconowp {width: 40px; position: fixed; bottom: 10px; right: 10px;}
.iconoig {width: 40px;}
.iconofb {width: 40px;}
.iconotw {width: 40px;}
.iconoyt {width: 40px;}

footer {display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #F5B7B1;
        border: 2px dashed black;}

.caja1 {text-align: center;}
.call {width: 50vw;
      height: 50vh;}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.tituloc {font-family: 'Permanent Marker', cursive;
          text-align: center;}



nav:hover {text-decoration: none;
          background-color: #A2D9CE;
          height: 50px;
  }

  div.row {
      justify-content: space-around;
      padding-top: 4vh;
      padding-bottom: 4vh;
      margin-right: 0;
      margin-left: 0;
    }

  div.card {border: 2px solid black;
            background-color: #AED6F1;
          padding-top: 4vh;
        padding: 10px;}

.card-title {text-align: center; color: red;}

.btn.btn-primary {
    margin-top: 2rem;}

/* MEDIA QUERYS */
@media (min-width: 767px) {
              .tomate, .imagen {display: none;}
              header {background-color: white;}
              h2 {background-color: #D2B4DE;}
              h3 {color: black;}
}

  @media (max-width: 768px) {
          .bandera {display: none;}
          body {background-image: none;
                background-color:#F9E79F;}
  }
